// BREAKPOINT

$lt: 1480px;
$tb: 1280px;
$mb: 860px;

// PC-FONT SiZE
$pc-size_menu: 1.8rem;
$pc-size_title: 7rem;
$pc-size_visual-title: 9rem;
$pc-size_intro: 1.3rem;
$pc-size_more--btn: 1.3rem;
// laptop-FONT SiZE
$lt-size_menu: 1.8rem;
$lt-size_title: 4rem;
$lt-size_visual-title: 5rem;
$lt-size_intro: 1.1rem;
$lt-size_more--btn: 1.3rem;
// tablet-FONT SiZE
$tb-size_menu: 1.8rem;
$tb-size_title: 3.5rem;
$tb-size_visual-title: 3rem;
$tb-size_intro: 1rem;
$tb-size_more--btn: 1.3rem;
// mobile-FONT SiZE
$mb-size_menu: 1.8rem;
$mb-size_title: 3.5rem;
$mb-size_visual-title: 5rem;
$mb-size_intro: 0.8rem;
$mb-size_more--btn: 1.3rem;
//FONT WEIGHT
$bold: 700;
$regular: 400;
$medium: 500;
$thin: 300;

//COLOR
$color-bg: #f0ede6;
$color-black: #000;
$color-gray: #948f8f;
$color-white: #fff;

// FONT FAMILY
$font-ko: "Noto Sans KR";
$font-eng: "Andada Pro", serif;
