// breakpoint

$lt: 1480px;
$tb: 1280px;
$sp: 540px;

// SiZE
$font-size_menu: 1.8rem;
$font-size_title: 7rem;
$font-size_visual-title: 9rem;
$font-size_intro: 1.3rem;
$font-size_more--btn: 1.3rem;
$logo-size: 18rem;

//FONT WEIGHT
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-thin: 300;

//COLOR
$color-bg: #f0ede6;
$color-black: #000;
$color-gray: #948f8f;
$color-white: #fff;

// FONT FAMILY
$font-ko: "Noto Sans KR";
$font-eng: "Andada Pro", serif;

// PC
@media (max-width: $lt) {
  // SiZE
  $font-size_menu: 1.8rem;
  $font-size_title: 4rem;
  $font-size_visual-title: 5rem;
  $font-size_intro: 1.1rem;
  $font-size_more--btn: 1.3rem;
  //공통
  p.info {
    font-size: $font-size_intro;
  }
  .btn__more {
    @include scale(0.8);
  }
  // header
  header {
    .logo {
      margin: 0 0 -2rem;

      path {
        @include scale(0.8);
      }
    }

    .gnb {
      li {
        @include scale(0.8);
        margin-right: 1em;
      }
    }
  }

  // VISUAL

  .visual {
    .wrap {
      text-align: center;

      .floating--img {
        @include scale;
      }

      h2.visual__title {
        font-size: $font-size_visual-title;
        margin-bottom: -3rem;
      }

      .item__img {
        width: 80%;
      }
    }
  }
}

// TABLET
@media (max-width: $tb) {
  // SiZE
  $font-size_menu: 1.8rem;
  $font-size_title: 3.5rem;
  $font-size_visual-title: 3rem;
  $font-size_intro: 1rem;
  $font-size_more--btn: 1.3rem;
  //공통
  p.info {
    font-size: $font-size_intro;
  }
  .btn__more {
    @include scale(0.7);
  }
  // header
  header {
    .logo {
      path {
        transform: scale(0.6);
      }
    }

    nav.gnb {
      .gnb__left {
        display: none;
      }

      .gnb__right {
        li:not(li:nth-child(1)) {
          display: none;
        }
      }
    }

    div.ham {
      display: block;
    }
  }

  // VISUAL
  .visual {
    .wrap {
      text-align: center;

      .floating--img {
        display: none;
      }

      h2.visual__title {
        font-size: $font-size_visual-title;
        margin-bottom: -1rem;
      }

      .item__img {
        width: 50%;
      }
    }
  }
}

// PHONE
@media (max-width: $sp) {
  $font-size_menu: 1.8rem;
  $font-size_title: 3.5rem;
  $font-size_visual-title: 5rem;
  $font-size_intro: 0.8rem;
  $font-size_more--btn: 1.3rem;
  //공통
  p.info {
    @include scale(0.7);
  }
  .btn__more {
    @include scale(0.7);
  }
}
