// FONT SiZE
$font-size_menu: 24rem;
$font-size_title: 94rem;
$font-size_more--btn: 18rem;

//COLOR
$color-bg: #f0ede6;
$color-black: #000;
$color-white: #fff;

// html,
// body {
//   cursor: url("../img/cursor/cursor-pointer.png"), pointer;
// }
// * {
//   cursor: url("../img/cursor/cursor-pointer.png"), pointer;
// }
