// SiZE
$font-size_menu: 1.8rem;
$font-size_title: 94rem;
$font-size_more--btn: 18rem;
$logo-size: 18rem;

//FONT WEIGHT
$font-weight-bold: 600;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-thin: 300;
//COLOR
$color-bg: #f0ede6;
$color-black: #000;
$color-white: #fff;

html {
  background-color: $color-bg;
}
