* {
  font-family: "Andada Pro", serif;
  box-sizing: border-box;
}
html {
  width: 100%;
}
html,
body {
  width: 100%;
  font-family: "Andada Pro", serif;
}
a,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #000;
}
button,
input {
  background: none;
  border: 0px;
  outline: none;
}
img {
  display: block;
}
