@import "./variables";
@import "./mixin";

// HEADER

header {
  z-index: 10;
  position: fixed;
  background: $color-bg;
  width: 100%;
  @include flex(space-between);
  align-items: center;
  padding: 3rem;
  transition: 1s;

  .logo {
    max-width: 120px;

    svg {
      width: 100%;
      height: 100%;
    }

    path {
      width: 100%;
      height: 100%;
      transition: 1s;
    }
  }

  .gnb {
    li {
      transition: 1s;
      @include font($pc-size_menu);
      margin-right: 2rem;
    }

    @include flex(space-between);

    .gnb__left {
      @include flex(space-between);
      margin-right: 2rem;

      li {
        position: relative;
        transition: 1s;
      }

      li:hover {
        &::before {
          position: absolute;
          top: -1rem;
          left: 50%;
          transform: translateX(-50%);
          content: "â—";
          font-size: 0.5rem;
          animation: moveDot 0.5s backwards;
        }

        @keyframes moveDot {
          0% {
            left: 0;
          }

          100% {
            left: 50%;
          }
        }
      }
    }

    .gnb__right {
      @include flex(space-between);

      .fas {
        margin-left: 1rem;
      }
    }
  }
}

// VISUAL

.visual {
  .wrap {
    .floating--img {
      position: absolute;
      max-width: 170px;
      &.floating_1 {
        top: -3rem;
        left: 20%;
      }
      &.floating_2 {
        top: 20%;
        right: -3rem;
      }
      &.floating_3 {
        top: 40%;
        left: -3rem;
      }
    }

    .visual__title {
      letter-spacing: -1px;
      position: relative;
      text-align: center;
      @include font($pc-size_visual-title);
      margin-bottom: -3rem;
      transition: 1s;
    }

    .item__img {
      display: block;
      width: 100%;
      max-width: 1000px;
      height: 100%;
      object-fit: contain;
      margin: 0 auto;
    }
  }
}

// BRANDS
.brands:nth-of-type(2) {
  > .item {
    flex-direction: row-reverse;
    .item__img,
    .item__info {
      width: calc(100% / 2);
    }
  }
}
