@import "./reuse_code.scss", "./common.scss";
@import "./breakpoint.scss";

// HEADER

header {
  width: 100%;
  @include flex(space-between);
  align-items: center;
  padding: 2rem;
  transition: 1s;
  .logo {
    path {
      transition: 1s;
    }
  }
  .gnb {
    li {
      font-size: $font-size_menu;
      font-weight: $font-weight-bold;
    }
    @include flex(space-between);
    .gnb__left {
      @include flex(space-between);
      margin-right: 2rem;
      li {
        margin-right: 3rem;
      }
    }
    .gnb__right {
      @include flex(space-between);
      li {
        margin-right: 1rem;
      }
    }
  }
}
