@import "./variables";
@import "./mixin";

// HEADER

header {
  z-index: 10;
  position: fixed;
  background: $color-bg;
  width: 100%;
  @include flex(space-between);
  align-items: center;
  padding: 3rem;
  transition: 1s;

  .logo {
    max-width: 120px;

    svg {
      width: 100%;
      height: 100%;
    }

    path {
      width: 100%;
      height: 100%;
      transition: 1s;
    }
  }

  .gnb {
    li {
      transition: 1s;
      @include font($pc-size_menu);
      margin-right: 2rem;
    }

    @include flex(space-between);

    .gnb__left {
      @include flex(space-between);
      margin-right: 2rem;

      li {
        position: relative;
        transition: 1s;
      }

      li:hover {
        &::before {
          position: absolute;
          top: -1rem;
          left: 50%;
          transform: translateX(-50%);
          content: "â—";
          font-size: 0.5rem;
          animation: moveDot 0.5s backwards;
        }

        @keyframes moveDot {
          0% {
            left: 0;
          }

          100% {
            left: 50%;
          }
        }
      }
    }

    .gnb__right {
      @include flex(space-between);

      .fas {
        margin-left: 1rem;
      }
    }
  }
}

// VISUAL

.visual {
  .wrap {
    .floating--img {
      position: absolute;
      max-width: 170px;
      &.floating_1 {
        top: -3rem;
        left: 20%;
      }
      &.floating_2 {
        top: 20%;
        right: -3rem;
      }
      &.floating_3 {
        top: 40%;
        left: -3rem;
      }
    }

    .visual__title {
      letter-spacing: -1px;
      position: relative;
      text-align: center;
      @include font($pc-size_visual-title);
      margin-bottom: -3rem;
      transition: 1s;
    }

    .item__img {
      display: block;
      width: 100%;
      max-width: 1000px;
      height: 100%;
      object-fit: contain;
      margin: 0 auto;
    }
  }
}

// BRANDS
.brands:nth-of-type(2) {
  > .item {
    flex-direction: row-reverse;
    .item__img,
    .item__info {
      width: calc(100% / 2);
    }
  }
}

//NEW
.new {
  position: relative;
  .wrap {
    .title {
    }
    .showing {
      margin-top: 10rem;
      @include flex;
      overflow: hidden;
      width: 100%;
      height: 100%;
      .best_sellers {
        @include flex(flex-start);
        margin: 0 auto;
        min-width: 3000px;
        height: 100%;
        transition: 0.3s;
        .best__item {
          margin-right: 3rem;
          width: calc(5000px / 6);
          @include flex;
          a {
            width: 100%;
            height: 100%;
            display: block;
            figure {
              width: 100%;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: 0.3s linear;
              }
            }
            &:hover {
              img {
                opacity: 0;
              }
            }
          }
        }
      }
      .arrow_btn {
        position: absolute;
        bottom: -5%;
        left: 50%;
        transform: translateX(-50%);
        span {
          position: absolute;
          display: block;
          width: 30px;
          height: 50px;
          color: black;
          text-align: center;
          line-height: 50px;
          font-size: 60px;
          cursor: pointer;
          &:hover {
            color: red;
          }
          &.prev {
            right: 2rem;
          }
          &.next {
            left: -1rem;
          }
        }
      }
    }
  }
}
